.Auth {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Auth-header {
  border: 2px solid #e7e7e7;
  border-radius: 8px;
  padding: 80px;
}

.Auth-header > * {
  margin: 10px 0;
}

.GoogleLogin {
  margin-top: 30px;
}
