.Home {
  max-height: 100vh;
  overflow: hidden;
}

.Home__topBar {
  border-bottom: 1px solid #e7e7e7;
  padding: 24px 16px;
}

.Home__topBar .brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: initial;
}

.Home__main {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  height: calc(100vh - 75px);
}

.Home__main > * {
  padding: 30px;
}

.Home__main .sideBar {
  height: 100%;
  border-right: 1px solid #e7e7e7;
  padding-top: 34px;
}

.Home__main .content {
  height: fit-content;
}

.Home__link {
  font-size: 18px;
  text-decoration: none;
  color: initial;
}

.Home__link:hover {
  color: gray;
}

.Home__main .sideBar li {
  list-style-type: none;
  margin: 0;
  padding: 4px;
}

.Home__link.active {
  color: #000;
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
}
