@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  transition-duration: 0.1s;
  font-family: "Inconsolata", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
}

.brand {
  font-family: "Titillium Web", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
  width: calc(100% - 1rem);
  margin: 0 auto;
}

.nav-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

tr {
  cursor: pointer;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  color: white;
}

tr.selected,
tr.selected:hover {
  color: white;
  background-color: blue;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.text-muted {
  color: gray;
}

input,
select {
  width: 100%;
  border: 1px solid #000;
  border: 1px solid #000;
  padding: 10px 18px;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
}

select {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  padding: 10px 18px;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background-color: #fff;
  color: #000;
}

.btn-danger {
  background-color: red;
  border-color: red;
}

.btn-danger:hover {
  color: red;
}

.btn-secondary {
  background-color: blue;
  border-color: blue;
}

.btn-secondary:hover {
  color: blue;
}

.btn-outline {
  background-color: white;
  color: black;
}

.btn-outline:hover {
  color: black;
  opacity: 0.5;
}
